:root {
  --primary-men: #002772;
  --background-men: #d6e6ff;
  --primary-women: #720060;
  --background-women: #fde2ff;
  --background-unavailable: #e5e5e5;
  --primary-text: #1e1e1e;
  --secondary-text: #3f3f3f;
}
